
<div class class="page new-skin">
	<div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">
		<div class="card-started" id="home-card">

			<div class="profile no-photo">

				<!-- profile image -->
				<div class="slide" style="background-image: url(../../assets/images/bg-01.jpg);"></div>
 
				<!-- profile socials -->
				<div class="social"> 
				</div>

				<!-- profile buttons -->
				<div class="lnks"> 
				</div>

			</div>

		</div>


		<!--
				Card - Resume
			-->
		<div class="card-inner animated active" id="resume-card">
			<div class="card-wrap"> 
				<div class="content services">

					<!-- title -->
					<div class="title"><span class="first-word">S</span>ignup</div>

					<!-- content -->
					<div class="row service-items">
						<div class="col ">
							<div class="service-item">
								<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
									<p *ngIf="loginError">{{loginError}}</p>
									<div class="wrap-input100 validate-input m-b-20" data-validate="Type user name">
										<input id="first-name" class="input100" type="text" formControlName="email" name="email"
											placeholder="Email">
										<span class="focus-input100"></span>
									</div>
									<div class="wrap-input100  validate-input m-b-20" data-validate="Type password">
										<input class="input100" formControlName="password" type="password" name="password"
											placeholder="Password">
										<span class="focus-input100"></span>
									</div>

									<div class="wrap-input100  validate-input m-b-20">
										<button type="submit" class="login100-form-btn">
											Signup
										</button>
									</div>
								</form>
									<div class="wrap-input100  validate-input m-b-20">
									<p>Signup with social</p>
								 <a class="btn btn-default" type="button" href="javascript:void(0);" (click)="signInWithFB()"><i
                                class="fa fa-facebook"></i> </a>
								<a class="btn btn-default" type="button" href="{{environment.twitterLoginUrl}}"><i
                                class="fa fa-twitter"></i> </a>
									</div>

							</div>
						</div> 

                <div class="w-full text-center  border-line-v">
                    <a routerLink="/login" class="txt3">
                       Back to login
                    </a>
						<div class="clear"></div>
					</div>

				</div>

			</div>
		</div>


	</div>
</div>
<!--
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login100-form validate-form">
                <span class="login100-form-title p-b-34">
                    Signup
                </span>

                <p *ngIf="loginError">{{loginError}}</p>

                <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                    <input id="first-name" class="input100" type="text" formControlName="email" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                    <input class="input100" formControlName="password" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button  type="submit" class="login100-form-btn">
                        Signup
                    </button>
                </div>

                
                <div class="w-full text-center p-t-27 p-b-239">
                    <div class="buttonHeading">
                        <p> Signup with Social </p>
                      </div>
                      
                      <div class="buttonContainer">
                         <a class="btn btn-default" type= "button" href="javascript:void(0);" (click)="signInWithFB()"><i class="fa fa-facebook" ></i> </a>
                         <a class="btn btn-default" type= "button" href="{{environment.twitterLoginUrl}}"><i class="fa fa-twitter"></i> </a>
                        
                      </div>
                </div>
 
                <div class="w-full text-center">
                    <a routerLink="/login" class="txt3">
                        Back to Login
                    </a>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('../../assets/images/bg-01.jpg');"></div>
        </div>
    </div>
</div> -->